@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary: rgba(254, 44, 85, 1);
  --grey: rgba(22, 24, 35, 0.34);
  --grey-border: rgba(22, 24, 35, 0.25);
  --grey-active: rgba(22, 24, 35, 0.75);
  --grey-hover: rgba(22, 24, 35, 0.03);
  --text-color: rgb(22 24 35);
  --text-grey: rgb(80 82 90);
  --border-color: rgba(22, 24, 35, 0.12);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text);
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a[href] {
  color: var(--text);
  text-decoration: none;
}
